@charset "utf-8";

/* 
    Style Sheet for Kyle Marler Voice Over Website
    Author: Kyle Marler
    Date: 4.13.22

    Filename: vo_forms.css
*/


/* Form styles for vo_contact.html */

form {
    margin: 20px;
}

form > fieldset {
    margin: 25px 7.5px;
    filter: drop-shadow(0px 0px 10px rgb(199, 199, 199)); 
}

fieldset#custInfo {
    background:
    radial-gradient(circle farthest-corner at top left, rgb(219, 232, 212) 65%, white);
    border-radius: 20px;
}

fieldset#projectInfo {
    background:
    radial-gradient(circle farthest-corner at top left, rgb(237, 235, 206) 65%, white);
    border-radius: 20px;
}

legend {
    background-color: white;
    font-size: 1.2em;
    padding: 5px;
    border-radius: 5px;
}

div.formRow {
    margin: 15px 0px;
}

fieldset.optGroup {
    margin: 10px 0px;
}

textarea {
    margin: 10px 0px;
    height: 100px;
    width: 95%;
}

div#buttons {
    width: 100%;
    text-align: center;
}

input[type="submit"], input[type="reset"] {
    font-size: 1.2em;
    padding: 5px;
    margin: 15px;
}

p {
    margin-left: 15px;
}
